body {
    margin-top: 3cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;

}

header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2.5cm;
}

.container-img .img-logo {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.container-img{
    border-bottom: 1px solid black;
}

main{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2.5cm;
}

.container-title{
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    margin-top: 0%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
}

table, td, th {
    border: 1px solid;
}

table th {
    background-color: #525659;
}

.footer {
    position: fixed; 
    bottom: 0cm; 
    left: 0cm; 
    right: 0cm;
    height: 1.5cm;
    border-top: 30px;
}
